<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.answer.framework.choiceSubject.mapper.ChoiceSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.answer.framework.choiceSubject.model.ChoiceSubject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subject_code" property="subjectCode" jdbcType="VARCHAR" />
    <result column="subject_content" property="subjectContent" jdbcType="VARCHAR" />
    <result column="subject_correct" property="subjectCorrect" jdbcType="VARCHAR" />
    <result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
    <result column="subject_level" property="subjectLevel" jdbcType="INTEGER" />
    <result column="subject_provider" property="subjectProvider" jdbcType="VARCHAR" />
    <result column="subject_create_time" property="subjectCreateTime" jdbcType="TIMESTAMP" />
    <result column="subject_update_time" property="subjectUpdateTime" jdbcType="TIMESTAMP" />
    <result column="subject_status" property="subjectStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject_code, subject_content, subject_correct, subject_type, subject_level, 
    subject_provider, subject_create_time, subject_update_time, subject_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from choice_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from choice_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.answer.framework.choiceSubject.model.ChoiceSubject" >
    insert into choice_subject (id, subject_code, subject_content, 
      subject_correct, subject_type, subject_level, 
      subject_provider, subject_create_time, subject_update_time, 
      subject_status)
    values (#{id,jdbcType=BIGINT}, #{subjectCode,jdbcType=VARCHAR}, #{subjectContent,jdbcType=VARCHAR}, 
      #{subjectCorrect,jdbcType=VARCHAR}, #{subjectType,jdbcType=VARCHAR}, #{subjectLevel,jdbcType=INTEGER}, 
      #{subjectProvider,jdbcType=VARCHAR}, #{subjectCreateTime,jdbcType=TIMESTAMP}, #{subjectUpdateTime,jdbcType=TIMESTAMP}, 
      #{subjectStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.answer.framework.choiceSubject.model.ChoiceSubject" >
    insert into choice_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectCode != null" >
        subject_code,
      </if>
      <if test="subjectContent != null" >
        subject_content,
      </if>
      <if test="subjectCorrect != null" >
        subject_correct,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
      <if test="subjectLevel != null" >
        subject_level,
      </if>
      <if test="subjectProvider != null" >
        subject_provider,
      </if>
      <if test="subjectCreateTime != null" >
        subject_create_time,
      </if>
      <if test="subjectUpdateTime != null" >
        subject_update_time,
      </if>
      <if test="subjectStatus != null" >
        subject_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subjectCode != null" >
        #{subjectCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectContent != null" >
        #{subjectContent,jdbcType=VARCHAR},
      </if>
      <if test="subjectCorrect != null" >
        #{subjectCorrect,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="subjectLevel != null" >
        #{subjectLevel,jdbcType=INTEGER},
      </if>
      <if test="subjectProvider != null" >
        #{subjectProvider,jdbcType=VARCHAR},
      </if>
      <if test="subjectCreateTime != null" >
        #{subjectCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectUpdateTime != null" >
        #{subjectUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectStatus != null" >
        #{subjectStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.answer.framework.choiceSubject.model.ChoiceSubject" >
    update choice_subject
    <set >
      <if test="subjectCode != null" >
        subject_code = #{subjectCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectContent != null" >
        subject_content = #{subjectContent,jdbcType=VARCHAR},
      </if>
      <if test="subjectCorrect != null" >
        subject_correct = #{subjectCorrect,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="subjectLevel != null" >
        subject_level = #{subjectLevel,jdbcType=INTEGER},
      </if>
      <if test="subjectProvider != null" >
        subject_provider = #{subjectProvider,jdbcType=VARCHAR},
      </if>
      <if test="subjectCreateTime != null" >
        subject_create_time = #{subjectCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectUpdateTime != null" >
        subject_update_time = #{subjectUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectStatus != null" >
        subject_status = #{subjectStatus,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.answer.framework.choiceSubject.model.ChoiceSubject" >
    update choice_subject
    set subject_code = #{subjectCode,jdbcType=VARCHAR},
      subject_content = #{subjectContent,jdbcType=VARCHAR},
      subject_correct = #{subjectCorrect,jdbcType=VARCHAR},
      subject_type = #{subjectType,jdbcType=VARCHAR},
      subject_level = #{subjectLevel,jdbcType=INTEGER},
      subject_provider = #{subjectProvider,jdbcType=VARCHAR},
      subject_create_time = #{subjectCreateTime,jdbcType=TIMESTAMP},
      subject_update_time = #{subjectUpdateTime,jdbcType=TIMESTAMP},
      subject_status = #{subjectStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="ChoiceSubjectRespMap" type="com.answer.framework.choiceSubject.form.ChoiceSubjectResp">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subject_code" property="subjectCode" jdbcType="VARCHAR" />
    <result column="subject_content" property="subjectContent" jdbcType="VARCHAR" />
    <result column="subject_correct" property="subjectCorrect" jdbcType="VARCHAR" />
    <result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
    <result column="subject_level" property="subjectLevel" jdbcType="INTEGER" />
    <result column="subject_provider" property="subjectProvider" jdbcType="VARCHAR" />
    <result column="subject_create_time" property="subjectCreateTime" jdbcType="TIMESTAMP" />
    <result column="subject_update_time" property="subjectUpdateTime" jdbcType="TIMESTAMP" />
    <result column="subject_status" property="subjectStatus" jdbcType="CHAR" />
    <result column="subject_provider_name" property="subjectProviderName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="listByObj" parameterType="com.answer.framework.choiceSubject.form.ChoiceSubjectReq" resultMap="ChoiceSubjectRespMap">
    select cs.*,ui.user_nickname subject_provider_name
    from choice_subject cs
    left join user_info ui on cs.subject_provider = ui.user_code
    <where>
      <if test="subjectCode != null" >
        subject_code = #{subjectCode,jdbcType=VARCHAR}
      </if>
      <if test="subjectContent != null" >
        subject_content = #{subjectContent,jdbcType=VARCHAR}
      </if>
      <if test="subjectCorrect != null" >
        subject_correct = #{subjectCorrect,jdbcType=VARCHAR}
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=VARCHAR}
      </if>
      <if test="subjectLevel != null" >
        subject_level = #{subjectLevel,jdbcType=INTEGER}
      </if>
      <if test="subjectProvider != null" >
        subject_provider = #{subjectProvider,jdbcType=VARCHAR}
      </if>
      <if test="subjectCreateTime != null" >
        subject_create_time = #{subjectCreateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="subjectUpdateTime != null" >
        subject_update_time = #{subjectUpdateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="subjectStatus != null" >
        subject_status = #{subjectStatus,jdbcType=CHAR}
      </if>
    </where>
    order by subject_create_time desc
  </select>
</mapper>